---
const { label, id, name } = Astro.props;

interface Props {
  label: string;
  name: string;
  id: string;
}

const baseClasses = "block w-full rounded-lg px-4 py-3 text-sm";
const borderClasses = "border border-neutral-200 dark:border-neutral-700";
const bgColorClasses = "bg-neutral-50 dark:bg-neutral-800";
const textClasses = "text-neutral-700 dark:text-neutral-200";
const placeholderClasses =
  "placeholder:text-neutral-500 dark:placeholder:text-neutral-400";
const focusClasses =
  "focus:border-neutral-200 focus:outline-none focus:ring focus:ring-neutral-400 dark:focus:border-neutral-600 dark:focus:ring-neutral-500";
const disabledClasses = "disabled:pointer-events-none disabled:opacity-50";
const darkFocusClasses = "dark:focus:ring-1";
---

<div>
  <label for={id} class="sr-only">{label}</label>
  <textarea
    id={id}
    name={name}
    rows="4"
    class={`
      ${baseClasses}
      ${borderClasses}
      ${bgColorClasses}
      ${textClasses}
      ${placeholderClasses}
      ${focusClasses}
      ${disabledClasses}
      ${darkFocusClasses}
    `}
    placeholder={label}></textarea>
</div>
